{
  "extends": ["google", "plugin:import/recommended"],
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true
  },
  "plugins": [
    "import"
  ],
  "settings": {
    "import/resolve": {
      "moduleDirectory": ["node_modules"]
    }
  },
  "rules": {
    # "no-unused-vars": 2,
    "import/no-extraneous-dependencies": 2,
    "import/first": [2, "absolute-first"],
    "import/unambiguous": 0,
  }
}
